{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_mbseasyforms/collapseswitch

    Renders a form section header

    Context variables required for this template:
    * showlessstring - button string 
    * showallstring - button string
    * collapsestring - checkbox string

    Example context (json):
    {
        "showlessstring": "showlessstring",
        "showallstring": "showallstring",
        "collapsestring": "collapsestring"
    }
}}
<div class="col-12 col-md-10">
    <div class="mbseasytoggle d-flex justify-content-around mt-3 mb-3">
        <div class="easy">{{showlessstring}}</div>
        <div class="full">{{showallstring}}</div>
    </div>
</div>
<div id="collapsesections{{uniqid}}" class="input-group col-10 mbseasycollapseall easyhide collapsemenu collapsed mb-3 justify-content-end">
    <label class="mr-1 mb-0 collapseall" for="easycollapseall">{{collapsestring}}</label>
    <label class="mr-1 mb-0 expandall" for="easycollapseall">{{collapsestring}}</label>
    <div class="custom-control custom-switch">
        <input type="checkbox" id="easycollapseall" class="custom-control-input">
        <span class="custom-control-label">&nbsp;</span>
    </div>
</div>

{{#js}}
    require(['core_form/collapsesections', 'local_mbseasyforms/collapsealltoggle'], function(Collapsesections, Collapsealltoggle) {
        Collapsesections.init('#collapsesections{{uniqid}}');
        Collapsealltoggle.init();
    });
{{/js}}
